@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
.dot {
  height: 4px;
  width: 4px;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  display: inline-block;
}
.container {
  top: 297px;
  left: 30px;
  position: absolute;
  width: 530px;
  height: 111px;
  border-radius: 8px;
  background-color: #ffffff;
}
.title {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 50px;
  font-weight: 500;
}
.mainTitle {
  display: inline-block;
  padding-left: 22px;
  padding-top: 6px;
}
.threeDots {
  display: inline-block;
  width: 16.8px;
  padding-left: 431px;
}
.tdContainer {
  display: flex;
  justify-content: space-between;
  height: 10px;
  padding-bottom: 5px;
}
.infoLevel {
  display: flex;
  justify-content: space-between;
  height: 15px;
}
.clientInfo {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
.infoLeft {
  padding-left: 12px;
}
.infoLeft p {
  padding-left: 11px;
  padding-top: 5px;
  font-size: 12.5px;
}
.infoRight {
  padding-right: 11px;
}
.infoRight p {
  padding-right: 0;
  padding-top: 0px;
  font-size: 12.9px;
}
.categoryName {
  display: inline-block;
  width: 110px;
  font-weight: 500;
}
.categoryName text {
  padding-left: 10px;
}
.param {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  width: 120px;
}
.space {
  height: 10px;
}
.showButton {
  padding-left: 22px;
  padding-top: 4px;
  color: #0047ff;
  font-size: 13px;
}
.categoryName p {
  display: inline;
}
