@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@370,400;450;500&display=swap");
.dot {
  height: 4px;
  width: 4px;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  display: inline-block;
}
.addNewNoteButton {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  padding-top: 2px;
  padding-left: 24px;
  color: #0047ff;
}
.container {
  width: 530px;
  height: 224px;
  border-radius: 8px;
  background-color: #ffffff;
}
.title {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  height: 46px;
}
.mainTitle {
  display: inline-block;
  padding-left: 24px;
  padding-top: 3px;
  font-weight: 500;
}
.threeDots {
  display: inline-block;
  width: 15px;
  padding-left: 441px;
}
.tdContainer {
  display: flex;
  justify-content: space-between;
}
.infoLevel {
  display: flex;
  justify-content: space-between;
}

.clientInfo {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
.infoLeft {
  padding-left: 11px;
}
.infoRight {
  padding-right: 32px;
}
.categoryName {
  display: inline-block;
  width: 99px;
  font-weight: 500;
}
.categoryName text {
  padding-left: 10px;
}
.param {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  width: 120px;
}
.space {
  height: 10px;
}
.noteInfo {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  display: flex;
  padding-left: 21px;
  padding-top: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
.noteDay {
  display: inline-block;
}
.noteAuthor {
  padding-left: 10px;
  display: inline-block;
}
.noteItself {
  display: block;
}

.limenuClose {
  list-style: none;
  padding: 0;
  display: none;
}
.limenuOpen {
  list-style: none;
  padding: 0;
  display: block;
}
.noteEdit {
  display: flex;
  padding-left: 21px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.noteTextOpen {
  display: flex;
  padding-left: 21px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
}
.noteTextOpen p {
  line-height: 16px;
  margin: 0;
  padding-top: 5px;
  flex-basis: 90%;
}
.noteTextOpen .threeDots {
  padding-left: 8px;
  padding-top: 15px;
}
.noteTextOpen {
  z-index: -1;
}
.noteTextClosed {
  display: none;
}
.noteEditClosed {
  display: none;
}
.noteEditOpen {
  display: block;
  padding-left: 21px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
}
.noteEditOpen textarea {
  width: 470px;
  height: 100px;
}
li {
  width: 50px;
  z-index: 100;
}
.buttonsE {
  float: right;
  padding-right: 19px;
}
