.dayitself {
  width: 25px;
  justify-content: center;
  text-align: center;
  height: 15px;
}
.regular {
  width: 25px;
  justify-content: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
}
.none {
  width: 25px;
  content: none;
  height: 15px;
}
.special {
  color: #0047ff;
  width: 25px;
  text-align: center;
  justify-content: center;
  height: 15px;
}
