html,
body {
  margin: 0;
}

.regular {
  justify-content: center;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  margin-top: 0;
  margin-bottom: 2.5px;
  height: 14px;
  width: 25.7px;
}
.none {
  justify-content: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
  margin-top: 0;
  margin-bottom: 2.5px;
  height: 14px;
  width: 25.7px;
}
.special {
  color: #0047ff;

  text-align: center;
  justify-content: center;

  margin-top: 0;
  margin-bottom: 2.5px;
  height: 14px;
  width: 25.7px;
}
