@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;550&display=swap');
* {
  font-family: 'Roboto', sans-serif;
}
.calendarContainer {
  width: 200px;
  height: 120px;
  padding-left: 26px;
  margin-right: -6px;
  margin-top: -2px;
}
.calendarDays {
  width: 161px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20px;
  font-size: 12px;
  margin-top: -11px;
}
.calendarDays p {
  width: 14px;
  text-align: center;
  justify-content: center;
}
.daysItself {
  display: flex;
  width: 161px;
  height: 40px;
  flex-wrap: wrap;
}
.calDays {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  display: flex;
  width: 175px;
  height: 92px;
  flex-wrap: wrap;
  padding-top: 12px;
  margin-left: -9px;
}
.month {
  font-size: 12px;
  margin-top: -2px;
  margin-left: -3px;
  display: flex;
  width: 200px;
  height: 20px;
}
.boldM {
  font-weight: 550;
}
