@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
.dot {
  height: 4px;
  width: 4px;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  display: inline-block;
}
.container {
  position: absolute;
  left: 32px;
  top: 448px;
  width: 530px;
  height: 131px;
  border-radius: 8px;
  background-color: #ffffff;
}
.title {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  height: 46px;
}
.mainTitle {
  display: inline-block;
  padding-left: 22px;
  padding-top: 3px;
  font-weight: 500;
}
.threeDots {
  display: inline-block;
  width: 15px;
  padding-left: 441px;
}
.tdContainer {
  display: flex;
  justify-content: space-between;
}
.infoLevel {
  display: flex;
  justify-content: space-between;
}
.clientInfo {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
.infoLeft {
  padding-left: 11px;
}
.infoRight {
  padding-right: 32px;
}
.categoryName {
  display: inline-block;
  width: 99px;
  font-weight: 500;
}

.categoryName p {
  padding-left: 10px;
  display: inline;
}
.param {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  width: 120px;
}
.space {
  height: 10px;
}
